html {
    font-family: 'Roboto', sans-serif;
}

table {
    border-collapse: collapse;
    width: 75%;
}

th, td {
    border: 1px solid black;
    padding: 4px;
}

.checkbox-grid {
    display: grid;
    grid-template-columns: 300px auto;
    gap: 10px;
    justify-content: start;
}