<!DOCTYPE html>
<html lang="ua" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Домашня сторінка</title>
    <link rel="stylesheet" type="text/css" href="/styles/css/main.css"/>
</head>
<body>
<img th:src="@{/images/OKPizza.png}" alt="OKPizza">
<h1>Меню</h1>
<table>
    <tr>
        <th rowspan="2">№ піци</th>
        <th rowspan="2">Склад</th>
        <th colspan="2">Мала</th>
        <th colspan="2">Велика</th>
    </tr>
    <tr>
        <th>Ціна, грн</th>
        <th>Вага, гр</th>
        <th>Ціна, грн</th>
        <th>Вага, гр</th>
    </tr>
    <tr th:each="pizza_ref : ${pizza_ref_list}">
        <td th:text="${pizza_ref.id}">№ піци</td>
        <td>
            <span th:each="ingredient, iterStat : ${pizza_ref.ingredients}"
                  th:text="${iterStat.last} ? ${ingredient.name} : |${ingredient.name}, |">Склад</span>
        </td>
        <td th:text="${pizza_ref.priceForSmall}">Ціна, велика</td>
        <td th:text="${pizza_ref.weightForSmall}">Ціна, мала</td>
        <td th:text="${pizza_ref.priceForBig}">Вага, велика</td>
        <td th:text="${pizza_ref.weightForBig}">Вага, мала</td>
    </tr>
</table>
<form th:method="POST" th:action="@{/select_pizza_ref}">
    <div>
        <br>
        <label for="pizza">Виберіть піцу </label>
        <select id="pizza" name="pizza_ref_id">
            <option th:each="pizza_ref : ${pizza_ref_list}" th:value="*{pizza_ref.id}" th:text="${pizza_ref.id}">Id</option>
        </select>
        <br>
    </div>
    <div>
        <br>
        <input type="radio" th:name="big" th:value="false" checked/> Мала
        <input type="radio" th:name="big" th:value="true"/> Велика
        <br>
    </div>
    <br>
    <button type="submit">Вибрати</button>
</form>
<form th:method="POST" th:object="${pizza_ref}" th:action="@{/create_pizza_ref}">
    <h1>Створити власну піцу</h1>
    <div style="color:red" th:if="${#fields.hasErrors('ingredients')}" th:errors="*{ingredients}">Помилка</div>
    <div class="checkbox-grid">
        <div>
            <h2>M'ясо</h2>
            <div th:each="ingredient : ${meat}">
                <input th:field="*{ingredients}" type="checkbox" th:value="${ingredient.id}"/>
                <span th:text="${ingredient.name}">Інгредієнт</span>
            </div>
        </div>
        <div>
            <h2>Сири</h2>
            <div th:each="ingredient : ${cheese}">
                <input th:field="*{ingredients}" type="checkbox" th:value="${ingredient.id}"/>
                <span th:text="${ingredient.name}">Інгредієнт</span>
            </div>
        </div>
        <div>
            <h2>Овочі</h2>
            <div th:each="ingredient : ${vegetable}">
                <input th:field="*{ingredients}" type="checkbox" th:value="${ingredient.id}"/>
                <span th:text="${ingredient.name}">Інгредієнт</span>
            </div>
        </div>
        <div>
            <h2>Морепродукти</h2>
            <div th:each="ingredient : ${seafood}">
                <input th:field="*{ingredients}" type="checkbox" th:value="${ingredient.id}"/>
                <span th:text="${ingredient.name}">Інгредієнт</span>
            </div>
        </div>
    </div>
    <div>
        <br>
        <input type="radio" th:name="big" th:value="false" checked/> Мала
        <input type="radio" th:name="big" th:value="true"/> Велика
        <br>
    </div>
    <br>
    <button type="submit">Створити</button>
</form>
</body>
</html>
