<!DOCTYPE html>
<html lang="ua" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Замовлення</title>
    <link rel="icon" type="images/x-icon" href="/images/favicon/Pizza.png">
    <link rel="stylesheet" type="text/css" href="/styles/css/main.css"/>
</head>
<body>
<img th:src="@{/images/OKPizza.png}" alt="OKPizza">
<h1>Замовлення</h1>
<table>
    <thead>
        <tr>
            <th>№</th>
            <th>№ піци</th>
            <th>Склад</th>
            <th>Розмір</th>
            <th>Вага, гр</th>
            <th>Ціна, грн</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="pizza, iterStat : ${order.pizzaList}">
            <td th:text="${iterStat.index + 1}">№</td>
            <td th:text="${pizza.pizzaRefId}">№ піци</td>
            <td>
                <span th:each="ingredient, iterStat : ${pizza.ingredientsNames}"
                      th:text="${iterStat.last} ? ${ingredient} : |${ingredient}, |">Склад</span>
            </td>
            <td th:text="${pizza.isBig} ? 'Велика' : 'Мала'">Розмір</td>
            <td th:text="${pizza.weight}">Вага</td>
            <td th:text="${pizza.price}">Ціна</td>
            <td style="border-top: none; border-right: none; border-bottom: none; width: 1%;">
                <form th:method="POST" th:action="@{/select_pizza_ref}">
                    <input type="hidden" name="pizza_ref_id" th:value="${pizza.pizzaRefId}">
                    <input type="hidden" name="big" th:value="${pizza.big}">
                    <button type="submit" class="circle-button-plus">+</button>
                </form>
            </td>
            <td style="border: none; width: 1%;">
                <form th:method="DELETE" th:action="@{/order/delete_pizza}">
                    <input type="hidden" name="index" th:value="${iterStat.index}">
                    <button type="submit" class="circle-button-minus">-</button>
                </form>
            </td>
        </tr>
        <tr>
            <td colspan="5">Всього:</td>
            <td th:text="${order.price}">Ціна</td>
        </tr>
    </tbody>
</table>
<p>
    <form th:action="@{/}">
        <button class="default-button">Додати ще одну піцу</button>
    </form>
</p>
<form th:method="POST" th:object="${order}">
    <div style="color:red" th:if="${#fields.hasErrors('pizzaList')}" th:errors="*{pizzaList}">Помилка</div>
    <h2>Інформація:</h2>
    <div>
        <label for="customerName">Ім'я: </label>
        <input id="customerName" type="text" placeholder="Ваше ім'я" th:field="*{customerName}">
    </div>
    <div style="color:red" th:if="${#fields.hasErrors('customerName')}" th:errors="*{customerName}">Помилка</div>
    <br>
    <div>
        <label for="customerPhoneNumber">Номер телефону: </label>
        <input id="customerPhoneNumber" type="text" placeholder="+380(12)-345-67-89" th:field="*{customerPhoneNumber}">
    </div>
    <div style="color:red" th:if="${#fields.hasErrors('customerPhoneNumber')}" th:errors="*{customerPhoneNumber}">Помилка</div>
    <br>
    <div>
        <label for="deliveryAddress">Адреса доставки: </label>
        <input id="deliveryAddress" type="text" placeholder="Вулиця, 123" th:field="*{deliveryAddress}">
    </div>
    <div style="color:red" th:if="${#fields.hasErrors('deliveryAddress')}" th:errors="*{deliveryAddress}">Помилка</div>
    <h2>Оплата:</h2>
    <div>
        <label for="ccNumber">Номер картки: </label>
        <input id="ccNumber" type="text" placeholder="1234 5678 9123 4567" th:field="*{ccNumber}">
    </div>
    <div style="color:red" th:if="${#fields.hasErrors('ccNumber')}" th:errors="*{ccNumber}">Помилка</div>
    <br>
    <div>
        <label for="ccExpiration">Термін дії картки: </label>
        <input id="ccExpiration" type="text" placeholder="MM/YY" th:field="*{ccExpiration}">
    </div>
    <div style="color:red" th:if="${#fields.hasErrors('ccExpiration')}" th:errors="*{ccExpiration}">Помилка</div>
    <br>
    <div>
        <label for="ccVV">CVV код: </label>
        <input id="ccVV" type="text" placeholder="123" th:field="*{ccVV}">
    </div>
    <div style="color:red" th:if="${#fields.hasErrors('ccVV')}" th:errors="*{ccVV}">Помилка</div>
    <br>
    <button type="submit" class="default-button">Далі</button>
</form>
</body>
</html>